
.css3Slider {
    margin: 100px auto;
}

figure {
    color: #000;
    font-size: 33px;
    text-align: center;
}

.animation-father {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.animation-child {
    position: absolute;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.animation-child img {
    margin-top: 5%;
    margin-left: 5%;
    width: 90%;
    height: 90%;
}
